.ls-video-container{
	display: none;
	width: 380px;
	height: 300px;
	position: relative;
}
.ls-video{
	&-small{
		width: 90px;
		height: 65px;
		border-radius: 4px;
		overflow: hidden;
		position: absolute;
		top: 10px;
		left: 10px;
	}
}