@include keyframes(pulse) {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}
@mixin pulse {
	@include animate(pulse, 0.5s, 1, normal);
}
.pulse{
  @include pulse;
}
