.ls-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  &.ls-video{
    @include background-image-retina('/images/icon-activity-aw-video-call', png, 13px, 9px);
  }
  &.ls-icon-call{
  	@include background-image-retina('/images/hang-call', png, 16px, 6px);	
  }
}


.icon{
  &:hover, &.active{
    &.lssvg-mute-disabled{  
      &:before{
        background-position: 0em -8.8em;
      }
    }
    &.lssvg-camera-disabled{
      &:before{
        background-position: 0em -2.8em;
      }
    }
    &.lssvg-screenshare{
      &:before{
        background-position: 0em -11.7em;
      }
    }
    &.lssvg-fullscreen{
      &:before{
        background-position: 0em -5.5em;
      }
    }
  }
}