.lssvg-btn-video-icon {
	background: url("../svg.svg") 0 50% no-repeat;
	width: 17px;
	height: 13px;
}

.lssvg-camera-disabled {
	background: url("../svg.svg") 36.734693877551024% 0 no-repeat;
	width: 18px;
	height: 15px;
}

.lssvg-camera-disabled-hover {
	background: url("../svg.svg") 0 0 no-repeat;
	width: 18px;
	height: 15px;
}

.lssvg-chat-bubble {
	background: url("../svg.svg") 72% 0 no-repeat;
	width: 17px;
	height: 15px;
}

.lssvg-chat-bubble-hover {
	background: url("../svg.svg") 0 100% no-repeat;
	width: 17px;
	height: 15px;
}

.lssvg-fullscreen {
	background: url("../svg.svg") 96.36363636363636% 90.3225806451613% no-repeat;
	width: 12px;
	height: 12px;
}

.lssvg-fullscreen-hover {
	background: url("../svg.svg") 30.90909090909091% 48.38709677419355% no-repeat;
	width: 12px;
	height: 12px;
}

.lssvg-hang-call {
	background: url("../svg.svg") 70.58823529411765% 40.54054054054054% no-repeat;
	width: 16px;
	height: 6px;
}

.lssvg-mute-disabled {
	background: url("../svg.svg") 32.075471698113205% 100% no-repeat;
	width: 14px;
	height: 15px;
}

.lssvg-mute-disabled-hover {
	background: url("../svg.svg") 58.490566037735846% 100% no-repeat;
	width: 14px;
	height: 15px;
}

.lssvg-screenshare {
	background: url("../svg.svg") 100% 48.275862068965516% no-repeat;
	width: 14px;
	height: 14px;
}

.lssvg-screenshare-hover {
	background: url("../svg.svg") 100% 0 no-repeat;
	width: 14px;
	height: 14px;
}

