.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg.svg");
    background-repeat: no-repeat;
    background-size: 1.8em 7.5em;
}

.no-svg .icon:before {
    background-image: url("../svg.png");
}



  .icon.lssvg-btn-video-icon:before {
      background-position: 0em 0em;
      width: 1.7em;
      height: 1.3em;
  }




  .icon.lssvg-camera-disabled:before {
      background-position: 0em -1.3em;
      width: 1.8em;
      height: 1.5em;
  }




  .icon.lssvg-fullscreen:before {
      background-position: 0em -2.8em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.lssvg-hang-call:before {
      background-position: 0em -4em;
      width: 1.6em;
      height: 0.6em;
  }




  .icon.lssvg-mute-disabled:before {
      background-position: 0em -4.6em;
      width: 1.4em;
      height: 1.5em;
  }




  .icon.lssvg-screenshare:before {
      background-position: 0em -6.1em;
      width: 1.4em;
      height: 1.4em;
  }





